<div class="container" id="about">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
      <h1>About</h1>

        <h2>Stuff</h2>

        <p>
        stuff and stuff and stuff
        </p>


      </div>
    </div>
  </div>

  <hr>
</div>
