<% if (index === 0) { %>
<% var active = "active"; %>
<% } else { %>
<% var active = ""; %>
<% } %>


<div class="item <%=active%>">
  <div class="carousel-document large_document">

    <div class="line" id="1_line"><%= text %></div>

  </div>
</div>
